.form {
  text-align: center;
  min-height: 100vh;
}




.form-header {
  background-color: #282c34;
  min-height: 100vh;
  top: 0;
  display: grid;
  font-size: calc(5px + 2vmin);
  color: white;
}

.sec-contain{
  display: flex;
  padding: 160px;
  background-color: aliceblue;
}
.card-bg{
  display: flex;
  background-color: aqua;
  border-radius: 20px;
  padding-bottom: 30px;
  
}
.email{
  width: 50vw;
  height: 100vh;
}
.imgcon{
  width: 50vw;
  height: 100vh;
}